a {
  text-decoration: underline;
}

a:before,
a:after {
  content: "a";
}

* a:before {
  content: '®\+';
}

a:after,
a::after {
  font-weight: bold;
}

a:first-child {
  color: blue;
}

b:after {
 content: " ";
}

b:after {
 content: "b";
}

b :last-child {
  color: red;
}
